DATABASE_URL=postgresql://bro
JWT_SECRET =AnotherFakeJWTSecretKeyForTestingPurposesOnly=

STRIPE_SECRET_KEY=sk_test_fake
YAPE_MERCHANT_ID=fake
YAPE_API_KEY=fake
PLIN_MERCHANT_ID=fake
PLIN_API_KEY=fake
PAYMENT_WEBHOOK_SECRET=fake
PAYMENT_CALLBACK_URL=fake
S3_BUCKET_NAME=fake
S3_ACCESS_KEY=fake
S3_SECRET_KEY=fake
SMTP_HOST=fake
SMTP_USERNAME=fake
SMTP_PASSWORD=fake
SMTP_PORT=587
FRONTEND_URL=http://localhost:4321
FROM_EMAIL=fake